// Default visibility classes
.d-sm-block {
  display: block;
}

.d-md-block {
  display: block;
}

.d-lg-block {
  display: block;
}

.d-xl-block {
  display: block;
}

.d-xxl-block {
  display: block;
}

.d-sm-none {
  display: none;
}

.d-md-none {
  display: none;
}

.d-lg-none {
  display: none;
}

.d-xl-none {
  display: none;
}

.d-xxl-none {
  display: none;
}
