/* src/modules/studentsManagement/components/PeriodsManager.css */
.periods-manager {
    margin: 20px 0;
}

.periods-manager h2 {
    font-size: 2.25em !important;
}

.periods-manager h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.periods-manager select {
    min-width: 250px;
    padding: 8px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.buttons-container button:hover {
    background-color: var(--bg-color-highlight);
}

.periods-manager ul {
    list-style-type: none;
    padding: 0;
}

.periods-manager li {
    margin-bottom: 5px;
}

.periods-list {
    padding: 20px; /* Espaciado interno */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.9); /* Sombra suave */
    margin-bottom: 2em;
}

.courses-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}
