/* border-top-color: var(--darkreader-border-dddddd, #3a3e41);
    border-right-color: var(--darkreader-border-dddddd, #3a3e41);
    border-bottom-color: var(--darkreader-border-dddddd, #3a3e41);
    border-left-color: var(--darkreader-border-dddddd, #3a3e41);
    background-color: var(--darkreader-background-f9f9f9, #1b1e1f);
    box-shadow:  */

.module-card {
    border: 1px solid #ddd;
    border-radius: 8px !important;
    padding: 16px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


@media (prefers-color-scheme: dark) {

    .module-card {
        border: 1px solid #3a3e41;
        background-color: var(--odd-row-bg);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        color: #fff !important;
    }

    .module-card h3 {
        color: #fff !important;
    }

    .module-card p {
        color: #fff !important;
    }
}

.capitalize {
    text-transform: capitalize;
}

.module-card h3 {
    margin-top: 0;
    color: #333;
}

.actions-card .module-card {
    border-top-left-radius: 0 !important;
}

.module-card.with-actions {
    margin-top: 0;
    top: -1px !important;
    border-top-right-radius: 0 !important;
}

.module-card p {
    margin: 8px 0;
    color: #666;
}

.module-card-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 16px;
}

.module-card-actions button {
    padding: 8px 16px;
    margin-left: 4px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.edit-button:hover,
.delete-button:hover {
    opacity: 0.8;
}