/* Navbar.css */

/* Estilos generales del navbar */
.navbar {
    display: flex; /* Usar flexbox para alinear los elementos horizontalmente */
    justify-content: space-around; /* Espaciado equitativo entre los elementos */
    align-items: center; /* Centrar verticalmente los elementos */
    height: 60px; /* Altura fija del navbar */
    background-color: #007bff; /* Color de fondo del navbar */
    padding: 0 20px; /* Espaciado interno horizontal */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
}

/* Estilos para los elementos del navbar */
.navbar ul {
    list-style-type: none; /* Eliminar viñetas */
    padding: 0; /* Eliminar padding por defecto */
    margin: 0; /* Eliminar margen por defecto */
    display: flex; /* Usar flexbox para alinear los elementos */
}

.navbar li {
    margin: 0 15px; /* Margen horizontal entre los elementos */
}

.navbar a {
    color: white; /* Color del texto */
    text-decoration: none; /* Sin subrayado en los enlaces */
    font-weight: bold; /* Texto en negrita */
}

/* Efecto hover para enlaces en el navbar */
.navbar a:hover {
    color: #f1f1f1; /* Color al pasar el mouse sobre el texto */
}

/* Estilos del sidebar (sin cambios) */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #007bff;
    color: white;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.sidebar.open {
    transform: translateX(0);
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    padding: 15px;
}

.sidebar a {
    color: white;
}

/* Botón para abrir/cerrar el sidebar */
.toggle-button {
    position: absolute;
    top: 10px;
    left: 10px;
}

/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
   .navbar {
      display: none; /* Oculta el navbar en pantallas pequeñas */
   }

   .toggle-button {
      display: block; /* Muestra el botón en pantallas pequeñas */
      background-color: #007bff;
      border-radius: 4px;
      color:white;
      border:none;
      padding :10px;
   }
}

@media (min-width: 769px) {
   .sidebar {
      display:none; /* Oculta el sidebar en pantallas grandes */
   }

   .toggle-button {
      display:none; /* Oculta el botón en pantallas grandes */
   }
}
