/* Navbar.css */

/* Estilos generales del navbar */
.navbar {
    display: flex; /* Usar flexbox para alinear los elementos horizontalmente */
    justify-content: space-around; /* Espaciado equitativo entre los elementos */
    align-items: center; /* Centrar verticalmente los elementos */
    height: 60px; /* Altura fija del navbar */
    background-color: #007bff; /* Color de fondo del navbar */
    padding: 0 20px; /* Espaciado interno horizontal */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
}

/* Botón para abrir/cerrar el sidebar */
.toggle-button {
    position: absolute;
    top: 10px;
    left: 10px;
}

/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
   .navbar {
      display: none; /* Oculta el navbar en pantallas pequeñas */
   }

   .toggle-button {
      display: block; /* Muestra el botón en pantallas pequeñas */
      background-color: #007bff;
      border-radius: 4px;
      color:white;
      border:none;
      padding :10px;
   }
}

@media (min-width: 769px) {
   .sidebar {
      display:none; /* Oculta el sidebar en pantallas grandes */
   }

   .toggle-button {
      display:none; /* Oculta el botón en pantallas grandes */
   }
}