.base-module {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: -9px 9px 18px #5a5a5a,
              9px -9px 18px #ffffff;
}

.base-module h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.base-module form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.base-module input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.base-module button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
}

.base-module button:hover {
    background-color: #0056b3;
}

.base-module ul {
    list-style-type: none;
    padding-left: 0;
}

.base-module li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.base-module li button {
    background-color: #dc3545;
    /* Color rojo para eliminar */
}

.module-container {
    display: flex;
    flex-direction: column;
    /* Stack elements vertically by default */
    padding: 20px;
}

.form-container {
    width: 100%;
    margin-bottom: 20px;
    flex: 1;
}

.list-container {
    width: 100%;
    margin-bottom: 20px;
    flex: 1;
}

.upload-container {
    width: 100%;
}

/* Tablet and larger screens */
@media (min-width: 768px) {
    .module-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .form-container {
        flex: 1 1 45%;
        /* Allow to grow and shrink, base width 45% */
        margin-right: 20px;
        margin-bottom: 0;
    }

    .list-container {
        flex: 1 1 45%;
        /* Allow to grow and shrink, base width 45% */
        margin-bottom: 0;
    }

    .upload-container {
        flex: 0 0 100%;
        /* Full width on tablet */
        margin-top: 20px;
    }
}

/* Desktop screens */
@media (min-width: 1024px) {
    .form-container {
        flex: 1;
        /* Adjust for 3-column layout */
    }

    .list-container {
        flex: 2 1 30%;
        /* Adjust for 3-column layout */
    }

    .upload-container {
        flex: 0 0 30%;
        /* Fixed width for larger screens */
        margin-top: 0;
    }
}

.table-top {
    width: 100%;
    height: 20px;
    background-color: #007bff;
    margin-bottom: 10px;
    border-radius: 8px 8px 0 0;
}

.list-base-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    /* Sombra suave */
}

.list-base-table th,
.list-base-table td {
    padding: 12px 15px;
    text-align: left;
}

.list-base-table th {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #007bff;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.list-base-table th[scope=row] {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    z-index: 1;
}

.list-base-table tr:nth-child(odd) {
    background-color: var(--odd-row-bg);
}

.list-base-table tr:hover {
    background-color: var(--bg-color-hover);
    transition: background-color 0.3s ease;
}

.actions {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.actions button, .actions .button {
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.1s ease;
}

.main::-webkit-scrollbar {
    width: 12px;
    right: 5px;
    /* Mueve el scrollbar 5px hacia la izquierda */
}

.main::-webkit-scrollbar-thumb {
    background: #007bff;
    /* Color of the scrollbar thumb */
    border-radius: 10px;
    /* Rounded corners for the thumb */
}

table tr {
    cursor: pointer;
}

table tr.selected-row {
    background-color: #e0e0e0;
}

.selected-row {
    background-color: #4CAF50 !important;
}