@media (max-width: 768px) {
    header ul {
        flex-direction: column; /* Cambiar a columna en pantallas pequeñas */
        align-items: center; /* Centrar los elementos */
    }
    
    header li {
        margin: 10px 0; /* Margen vertical entre elementos */
    }
}


header {
    background-color: #007bff;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
    transition: background-color 0.3s; /* Transición suave */
}

header ul {
    list-style-type: none; /* Eliminar viñetas */
    padding: 0; /* Eliminar padding por defecto */
    margin: 0; /* Eliminar margen por defecto */
    display: flex; /* Usar flexbox para alinear los elementos */
    justify-content: space-around; /* Espaciado equitativo entre los elementos */
}

header li {
    margin: 0 15px; /* Margen horizontal entre los elementos */
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

header a {
    color: white; /* Color del texto */
    text-decoration: none; /* Sin subrayado en los enlaces */
    font-weight: bold; /* Texto en negrita */
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
}

header a:hover {
    color: white; /* Color del texto */
}

header:hover {
    background-color: #0056b3; /* Color más oscuro al pasar el mouse */
}


header li.active a {
    background-color: #f1f1f1;
    /* Color para el elemento activo */
    color: black;
    /* Color del texto en activo */
}