.select-input {
    margin-bottom: 15px;
}

.form-container .save-button {
    width: 100%;
}

form.editing .buttons-container {
    display: flex;
    justify-content: space-between;
}

form.editing .edit-button,
form.editing .save-button,
form.editing .cancel-button {
    width: calc(50% - 5px);
}

form.editing .save-button {
    margin-right: 5px;
}

form.editing .cancel-button {
    margin-left: 5px;
}
