.student-module-container {
    display: flex; /* Use flexbox for layout */
    justify-content: space-between; /* Space between the form and the upload component */
    padding: 20px; /* Optional padding */
}

.form-container {
    flex: 1; /* Allow the form to take available space */
    margin-right: 20px; /* Space between the form and upload component */
}

.upload-container {
    flex: 0 0 300px; /* Fixed width for the upload component */
}

.title {
    padding-bottom: 15px;
    margin-bottom: 20px;
    width: 100%;
    border-bottom: 3px solid #ccc; /* Borde del formulario */
}
