@import "https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --odd-row-bg: #f2f2f2;
  --bg-color-hover: #dadada;
  --bg-color: #f2f2f2;
  --border-color: #ccc;
}

html,
body {
  max-width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}


* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 16px;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.5px;
  transition: background-color 0.3s ease, transform 0.1s ease;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


@media (prefers-color-scheme: dark) {
  :root {
      --odd-row-bg: #363636;
      --bg: #363636;
      --bg-color-hover: #757575;      
      --border-color: black;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

.delete-button {
  background-color: #f44336 !important;
  color: white;
}

.delete-button:hover {
  background-color: #d32f2f !important;
  transform: translateY(-1px);
}

.edit-button {
  background-color: #4CAF50;
  color: white;
}

.edit-button:hover {
  background-color: #45a049;
  transform: translateY(-1px);
}

.view-button {
  background-color: #007bff;
  color: white;
}

.view-button:hover {
  background-color: #0068d8;
  transform: translateY(-1px);
}

.buttons-container button:hover,
.add-button:hover {
  transform: translateY(-1px);
}

.title {
  padding-bottom: 15px;
  margin-bottom: 20px;
  width: 100%;
  border-bottom: 3px solid #ccc;
  /* Borde del formulario */
}