@import "https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  max-width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button,
.button,
a {
  line-height: 1.5;
}


button,
.button {
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 16px;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.5px;
  transition: background-color 0.3s ease, transform 0.1s ease;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}


.title {
  padding-bottom: 15px;
  margin-bottom: 20px;
  width: 100%;
  border-bottom: 3px solid #ccc;
}

.title.bt {
  padding-top: 15px;
  border-top: 3px solid #ccc !important;
}


.container {
  display: flex;
  /* Enable flexbox */
  justify-content: space-between;
  /* Space between items */
  align-items: center;
  /* Center items vertically */
  padding: 10px;
  /* Optional padding */
}

.container-grid {
  width: 100%;

  display: flex;
  gap: 16px;
  justify-content: center;
}

.item {
  flex: 1;
  /* Make items grow equally */
  margin: 0 10px;
  /* Optional margin between items */
  padding: 20px;
  /* Padding inside items */
  color: var(--color);
  /* Text color */
  text-align: center;
  /* Center text */
  border-radius: 4px;
  /* Rounded corners */
}

.grow1 {
  flex-grow: 1;
}

.item.item-bg {
  background-color: var(--bg);
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: stretch;
  }

  .item {
    margin: 10px 0;
    width: 100%;
  }

  .title {
    font-size: 2.2em;
  }
}

.disabled-link {
  pointer-events: none;
}

.m-0 {
  margin: 0 !important;
}

.p-0 {
  padding: 0 !important;
}

.px-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}