@import "https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --odd-row-bg: #f2f2f2;
  --bg-color-delete: #f44336;
  --bg-color-delete-hover: #d32f2f;
  --bg-color-edit: #4CAF50;
  --bg-color-edit-hover: #45a049;
  --bg-color-save: #007bff;
  --bg-color-save-hover: #0068d8;
  --bg-color-add: #FFA500;
  --bg-color-add-hover: #FF8C00;
  --bg-color-view: #008080;
  --bg-color-view-hover: #006666;
  --bg-color-hover: #dadada;
  --bg-color: #f2f2f2;
  --bg-color-highlight: #007bff;
  --border-color: #ccc;
  --border-color-highlight: #363636;  
  --color: black;
}

html,
body {
  max-width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 16px;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.5px;
  transition: background-color 0.3s ease, transform 0.1s ease;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


@media (prefers-color-scheme: dark) {
  :root {    
      --color: white;
      --odd-row-bg: #363636;
      --bg: #363636;
      --bg-color-hover: #757575;      
      --border-color: black;
      --border-color-highlight: #f2f2f2;
  }
  .button {
    background-color: var(--bg) !important;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

.button-black {
  background-color: black !important;
}

/* Base styles for all buttons */
.delete-button,
.edit-button,
.add-button,
.view-button,
.save-button {
  color: white; /* Set text color to white */
}

/* Specific styles for delete button */
.delete-button {
  background-color: var(--bg-color-delete) !important; /* Background color for delete */
}

.delete-button:hover {
  background-color: var(--bg-color-delete-hover) !important; /* Background color on hover for delete */
}

/* Specific styles for edit button */
.edit-button {
  background-color: var(--bg-color-edit); /* Background color for edit */
}

.edit-button:hover {
  background-color: var(--bg-color-edit-hover); /* Background color on hover for edit */
}

/* Specific styles for view button */
.view-button {
  background-color: var(--bg-color-view); /* Background color for view */
}

.view-button:hover {
  background-color: var(--bg-color-view-hover); /* Background color on hover for view */
}

/* Specific styles for save button */
.save-button {
  background-color: var(--bg-color-save) !important; /* Background color for save */
}

.save-button:hover {
  background-color: var(--bg-color-save-hover) !important; /* Background color on hover for save */
}

/* Specific styles for add button */
.add-button {
  background-color: var(--bg-color-add) !important; /* Background color for add */
}

.add-button:hover {
  background-color: var(--bg-color-add-hover) !important; /* Background color on hover for add */
}

button[disabled], button[disabled]:hover {
  background-color: var(--odd-row-bg) !important;
  cursor: not-allowed;
  transform: none !important;
}

/* Apply transform to all buttons on hover */
.delete-button:hover,
.edit-button:hover,
.add-button:hover,
.view-button:hover,
.save-button:hover {
  transform: translateY(-1px); /* Lift the button slightly on hover */
}

.buttons-container button:hover,
.add-button:hover {
  transform: translateY(-1px);
}

.title {
  padding-bottom: 15px;
  margin-bottom: 20px;
  width: 100%;
  border-bottom: 3px solid #ccc;
  /* Borde del formulario */
}container
.button- button {
  margin: 10px 5px;
  border: 2px solid var(--border-color-highlight) !important; /* Borde más oscuro */
}

.buttons-container .active {
  background-color: #45a049 !important;
  border: 2px solid var(--border-color-highlight) !important; /* Borde más oscuro */
  font-weight: bold;
}

.buttons-container.flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
}

.buttons-container.flex button {
  flex: 1;
  border: 1px solid var(--border-color-highlight);
}
.buttons-container button:nth-child(n+2) {
  margin-left: 5px;
}
.buttons-container button:not([class]) {
  background-color: var(--bg-color-hover) !important;
}
.buttons-container .active:hover {
  background-color: #4CAF50 !important;
}

.container {
  display: flex; /* Enable flexbox */
  justify-content: space-between; /* Space between items */
  align-items: center; /* Center items vertically */
  padding: 10px; /* Optional padding */
}

.item {
  flex: 1; /* Make items grow equally */
  margin: 0 10px; /* Optional margin between items */
  padding: 20px; /* Padding inside items */
  color: var(--color); /* Text color */
  background-color: var(--bg);
  text-align: center; /* Center text */
  border-radius: 4px; /* Rounded corners */
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: stretch;
  }

  .item {
    margin: 10px 0;
    width: 100%;
  }
}

.table-container {
  max-height: 400px;
  overflow-y: auto;
  margin: 10px 0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}