.grid {
    display: grid;
    grid-template-areas:
        "header"
        "main";
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr; /* Cambiado de 60px a auto */
    min-height: 100vh; /* Cambiado de height a min-height */
    overflow-y: auto; /* Añadido para permitir scroll */
}

.header {
    grid-area: header;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #007bff; /* Asegúrate de que tenga un color de fondo */
    color: white;
}

.main {
    grid-area: main;
    padding: 20px 10px;
    overflow-y: auto; /* Permite scroll dentro del contenido principal si es necesario */
}
